{% extends 'bootstrap/base.html' %}

{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">GitRepos/Branches/</a>
			</div>
		</div>
	</nav>
{% endblock %}

{% block content %}
    <div class="container">
      <p>User: {{user}}</p>
      <p>Repo: {{ repo }}</p>
      <p>List of Branches</p>
      <ul>
        {% for n in branches %}
        <li><a href="/branches/{{ user }}/{{ repo }}/{{n.name}}/{{ n.sha }}/{{access_token}}">{{n.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}